<div class="container-extra">
<%= render 'shared/navbar' %>

<div class="navbar-onglet-network">
  <div class="navbar-onglet-item row">
    <a class="col-xs-4" href="/network"><i class="fas fa-user-plus"></i></a>
    <a class="col-xs-4 active" href="/messenger"><i class="far fa-envelope"></i></a>
    <a class="col-xs-4" href="/users_all"><i class="fas fa-users"></i></a>
  </div>
</div>
<div class="container-extra">

<div id="messages">
  <div class="row" >
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <img src=<%= (@friend.avatar_url.nil? ? 'https://images.unsplash.com/photo-1511632765486-a01980e01a18?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c0ff296c4f785350505c2b5545ae7393&auto=format&fit=crop&w=1650&q=80' : @friend.avatar_url)%> alt="profile" class="profile img-network" style="width: 37px; border-radius: 50%; height: 37px; object-fit: cover; background-repeat: no-repeat; background-position: 50% 50%; cursor: pointer; margin-bottom: 10px; position: relative; top: 7px; left: 30%;">
      <p style="text-align: center; margin-left: 51px; position: relative; top: -35px; margin-bottom: -12px;"><%= @friend.first_name %></p>
      <% @messages.each do |message| %>
        <%= render "message", message: message %>
      <% end %>

  </div>
  </div>
</div>

  <% if @friend.friends.include?(current_user) %>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for @message, url: conversation_messages_path(@conversation), method: :post, remote: true do |f| %>
       <div class="field">
         <%= f.input :body, class: "form-control", placeholder: "Ton message ici...", label: false %>
       </div>
       <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
       <div>
         <%= f.submit "envoyer", class: "btn-envoyer" %>
       </div>
      <% end %>
    </div>
  </div>
  <% else %>
  <div>
    <h3><%= @blocked ? "Aucune action n'est possible sur cette conversation" : "#{@friend.first_name} n'a pas encore accepté votre invitation" %></h3>
  </div>
  <% end %>

  <!-- a enlever quand il y aura du margin ou du padding -->
<br><br><br><br>
</div>
<%= render '/shared/navigationbar' %>

<script>

  $(document).ready(function () {
    setInterval(refreshPartial, 5000)

});


function refreshPartial() {
  var id = "<%= @conversation.id %>";
  $.ajax({
    url: "/conversations/" + id + "/messages"
 })
}

</script>
