<div class="navbar-up">
    <% if user_signed_in? %>
      <div class="navbar-up-item">
        <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-up-item navbar-up-link" %>
    <% end %>
</div>


<!-- PARTIE MODIFIABLE -->
<div class="container">
  <p><%= current_user.first_name %></p>
  <div class="container-img">
    <img src="https://images.unsplash.com/photo-1511632765486-a01980e01a18?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c0ff296c4f785350505c2b5545ae7393&auto=format&fit=crop&w=1650&q=80" alt="profile" class="profile img-myprofile">
    <div class="class-btn-likes"><a href="#" class="btn-modif">Modifier la photo de profil
    </a></div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

         <%= f.input :first_name,
              autocomplete: "on", label: 'Prénom', required: true, autofocus: true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Terminé" %>
      </div>
    <% end %>
    <a href='<%= destroy_user_session_path %>' class='log-out' data-method='delete'><%= t('.sign_out', default: 'Log out') %></a>
    <!-- <p>Unhappy? <%#= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p> -->
    </div>
  </div>
</div>

<!-- FIN DE PARTIE MODIFIABLE -->

</div>
<div class="navbar-down">
    <% if user_signed_in? %>
      <div class="navbar-down-item-myprofile">
        <a href="/homepage"><i class="fas fa-home regular-fa-home-myprofile"></i></a>
        <a href="/myprofile"><img src="https://images.unsplash.com/photo-1511632765486-a01980e01a18?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c0ff296c4f785350505c2b5545ae7393&auto=format&fit=crop&w=1650&q=80" alt="profile" class="profile profile-home"></a>
      </div>
    <% end %>
</div>
