<%= render 'shared/navbar' %>
  <% if current_user.first_name.nil? %>
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
          <h3>Etape 1: ton profil.</h3>
          <%= simple_form_for(User.new, as: :user, url: registration_path(:user)) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :first_name,
              autocomplete: "on", label: 'Prénom', required: true, autofocus: true %>
              <%= f.input :last_name,
              autocomplete: "on", label: 'Nom', required: true, autofocus: true %>
              <%= f.input :age,
              autocomplete: "on", required: true, autofocus: true %>
              <%= f.input :city,label: 'Dans quelle ville habites-tu ?', required: true,
              autocomplete: "on", autofocus: true %>
              <%= f.input :avatar %>
              <%= f.input :avatar_cache, as: :hidden %>
            </div>
            <div class="form-actions edit-btn">
              <%= f.button :submit, "Accéder à mon réseau 💥" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <p>Ok network (à faire)</p>
  <% end %>
<%= render '/shared/navigationbar' %>
