<div class="container-extra">
<%= render 'shared/navbar' %>
  <%# if current_user.first_name.nil? %>

  <%# else %>
  <div class="navbar-onglet-network">
    <div class="navbar-onglet-item row">
      <a class="col-xs-4 active" href="/network"><i class="fas fa-user-plus"></i></a>
      <a class="col-xs-4" href="/messenger"><i class="far fa-envelope"></i></a>
      <a class="col-xs-4" href="/users_all"><i class="fas fa-users"></i></a>
    </div>
  </div>

<!-- PARTIE MODIFIABLE -->

<% if current_user.first_name && !current_user.first_name.empty? && current_user.last_name && !current_user.last_name.empty? %>

    <div class="container-homepage" id="container-homepage">

      <!-- USERS RESEARCH -->

      <%= render "networks/search", results: @results %>

      <!-- CONTACTS SUGGESTIONS -->

      <%= render "networks/searchable_users/users_index" %>

    </div>

<% else %>
  <%= render "shared/edit_profile_suggestion" %>
<% end %>
</div>
  <!-- FIN DE PARTIE MODIFIABLE -->
<%= render '/shared/navigationbar' %>
