<%= render 'shared/navbar' %>
  <% if current_user.first_name.nil? %>
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
          <h2>Les informations pour la création de ton profil:</h2>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">

              <%= f.input :first_name,
              autocomplete: "on", required: true, autofocus: true %>
              <%= f.input :last_name,
              autocomplete: "on", required: true, autofocus: true %>
              <%= f.input :idee_metier,label: 'As-tu une idée du métier que tu aimerais faire?', required: true,
              autocomplete: "on", autofocus: true %>
              <%= f.input :age,
              autocomplete: "on", required: true, autofocus: true %>

            </div>
            <div class="form-actions">
              <%= f.button :submit, "edit" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <p>Ok network</p>
  <% end %>
<%= render '/shared/navigationbar' %>
