<%= render 'shared/search' %>
<div class="container">
  <form class="searchbar">
    <input type="text" placeholder="Rechercher un métier ou une école.." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
  <div class="row">
    <div class="col-xs-12">
      <p class="jobscount">
      <%#= @jobs.count %>
       métiers
      </p>
    </div>
  </div>
  <!-- 3 Les cards des métiers -->
  <div class="cards">
    <div class="row">
      <% @jobs.each do |job| %>
        <div class="col-xs-6 col-md-3">
          <div class="card">
            <!-- J'aimerai importer une image de cloudinary: http://res.cloudinary.com/dozkmkl7p/image/upload/v1520785754/T O M I - Family/acheteur_d_espace_publicitaire.jpg -->
            <div><%#= cl_image_tag("acheteur_d_espace_publicitaire") %>
        <img href="#" src="https://images.unsplash.com/photo-1491960693564-421771d727d6?ixlib=rb-0.3.5&s=be6e4f296eaa332dc15fec458bc5a4fe&auto=format&fit=crop&w=999&q=80" alt="pic" class="card__image">
            </div>
            <div class="card__content">
              <div class="card__title">
                <h2><%= link_to job.name, job_path(job) %></h2>
                <%= link_to "", job_path(job), class: "card-link"%>
                <% if job.get_likes.where(voter_id: current_user).count == 0 %>
                  <%= link_to like_path(job), method: :patch, class: "card-like-link" do%>
                    <i class="far fa-heart"></i>
                  <% end %>
                <% else %>
                  <%= link_to dislike_path(job), method: :patch, class: "card-like-link" do %>
                    <i class="fas fa-heart"></i>
                  <% end %>
                <% end %>
              </div>
              <div class="card__text">
                <p><%= link_to job.short_description.first(95), job_path(job) %>...</p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
