<div class="navbar-up">

    <% if user_signed_in? %>
      <div class="navbar-up-item">
        <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
        <a type="student-btn" href="/favorites" class="btn btn-primary next-step-btn-small">Voir mes favoris <i class="fas fa-arrow-right arrow-next-step"></i></a>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-up-item navbar-up-link" %>
    <% end %>
</div>
<div class="container">

  <!-- [...] -->
    <%= render 'jobs/search' %>

<!-- the list of movies -->

<%#= render '/jobs/filter' %>

  <div class="cards">
    <div class="row">
      <% @jobs.each do |job| %>
        <div class="col-xs-6 col-md-3">
          <div class="card" id= <%= "#{job.id}" %>>
            <div ><%= link_to (cl_image_tag job.photo, :class => "card__image"), job_path(job) %></div>
            <div class="card__content">
              <div class="card__title">
                <li>
                  <h2><%= link_to job.name, job_path(job) %></h2>
                </li>
                <%= link_to "", job_path(job), class: "card-link"%>
                <% if job.get_likes.where(voter_id: current_user).count == 0 %>
                  <%= link_to like_path(job), remote: true, method: :patch, class: "card-like-link" do%>
                    <i class="far fa-heart"></i>
                  <% end %>
                <% else %>
                  <%= link_to dislike_path(job), remote: true, method: :patch, class: "card-like-link" do %>
                    <i class="fas fa-heart"></i>
                  <% end %>
                <% end %>
              </div>
              <div class="card__text">
                <p><%= link_to job.short_description.first(70), job_path(job) %>...</p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="pagination" style="font-size: 20px;">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <%= will_paginate @posts %>
      </div>
    </div>
  </div>
</div>


<%= render '/shared/navigationbar' %>
