  <%= render '/shared/banner' %>
 <div class="col-xs-9">
  <h1 class="namejobs"><%= @job.name %></h1>
  <h3 class="shortjobs"><%= @job.short_description %></h3>
  <p class="descjobs"><%= @job.description.first (300) %>...</p>
  <button class="btnjobs">Voir +</button>
</div>

 <div class="col-xs-3 icon">
  <a href="#" data-container="body" data-toggle="popover" data-placement="left" data-content="<%= @job.salary %>"><i class="fas fa-euro-sign"></i></a>
  <a href="#" data-container="body" data-toggle="popover" data-placement="left" data-content="<%= @job.career %>"><i class="fas fa-suitcase"></i></a>
    <a href="#" data-container="body" data-toggle="popover" data-placement="left" data-content="<%= @job.study %>"><i class="fas fa-graduation-cap"></i></a>
</div>

<!-- <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><i class="fas fa-euro-sign"></i></button> -->
