<%= render 'shared/navbar' %>
<div class="show_job_img"><%= cl_image_tag @jobb.photo, :class => "banner__image" %></div>
<div class="container-showjob">
   <div class="col-xs-9">
    <h1 class="namejobs"><%= @jobb.name %></h1>
    <h3 class="shortjobs"><%= @jobb.short_description %></h3>
    <div class="sidebar-box">
      <p class="descjobs"><%= @jobb.description %></p>
    </div>
  </div>
   <div class="col-xs-2 icon">
    <a href="#" data-container="body" data-toggle="popover" data-placement="left" data-content="<h6><strong>Salaire:</strong></h6><%= @jobb.salary %>"><i class="fas fa-euro-sign"></i></a>
    <a href="#" data-container="body" data-toggle="popover" data-placement="left" data-content="<h6><strong>Perspectives d'évolution:</strong></h6><%= @jobb.career %>"><i class="fas fa-suitcase"></i></a>
      <a href="#" data-container="body" data-toggle="popover" data-placement="left" data-content="<h6><strong>Etudes:</strong></h6><%= @jobb.study %>"><i class="fas fa-graduation-cap"></i></a>
  </div>
</div>
<%= render '/shared/navigationbar' %>
<!-- a ajouter en js:
https://css-tricks.com/text-fade-read-more/ -->
