<div class="navbar-up">

    <% if user_signed_in? %>
      <div class="navbar-up-item">
        <a type="student-btn" href="/network" class="btn btn-primary next-step-btn-xtrasmall">Mon réseau <i class="fas fa-arrow-right arrow-next-step"></i></a>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-up-item navbar-up-link" %>
    <% end %>
</div>

<div class="container">
<!--   <p><%= current_user.age %></p>
  <p><%= current_user.city %></p> -->
  <div class="container-img">
    <img src=<%= current_user.avatar_url.nil? ? "https://images.unsplash.com/photo-1511632765486-a01980e01a18?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c0ff296c4f785350505c2b5545ae7393&auto=format&fit=crop&w=1650&q=80" : current_user.avatar_url %> alt="profile" class="profile img-myprofile">
  </div>
  <% if !current_user.first_name.nil? %>
    <p class="centerline">T'es au top <%= current_user.first_name %> ! 😎</p>
  <% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

    <%= simple_form_for current_user, as: :user, url: edit_profile_path do |f| %>

    <div class="form-inputs">

      <%= f.error_notification %>


        <%= f.input :first_name, label: 'Prénom:', required: true %>
        <%= f.input :last_name, label: 'Nom:', required: true %>
        <div class="format">
          <%= f.input :age, :as => :date, :start_year => Date.today.year - 80, :end_year => Date.today.year - 10, selected: Date.today.year - 17, :order => [:day, :month, :year], input_html: { class: 'dob' }, label: 'Date de naissance:', required: true %>
        </div>

        <%= f.input :city, label: 'Code Postal:', required: true, autocomplete: "on" %>
        <%= f.input :avatar, label: 'Photo de profil:', input_html: { class: 'btn-simple'} %>
        <%= f.input :avatar_cache, as: :hidden %>
        <%= f.submit "OK", :class => 'btn-enter' %>

      <% end %>

    </div>

    </div>
  </div>
  <div class="log-out">
    <%= link_to destroy_user_session_path, method: :delete, data: { confirm: "Tu es sûr(e) de vouloir te déconnecter?" } do %>
      <i class="fas fa-sign-out-alt"></i>  <%= t(".sign_out", default: "Log out") %>
    <% end %>
  </div>

</div>

<%= render '/shared/navigationbar' %>
