<%= render 'shared/navbar' %>
<div class="container">
  <% if @jobs.empty? %>
    <p class="text-whishlist-banner">You don't have any items in favorites...</p>
  <% else %>
  <div class="cards">
    <div class="row">
      <% @jobs.each do |job| %>
        <div class="col-xs-6 col-md-3">
          <div class="card">
            <div ><%= cl_image_tag job.photo, :class => "card__image" %></div>
            <div class="card__content">
              <div class="card__title">
                <h2><%= link_to job.name, job_path(job) %></h2>
                <%= link_to "", job_path(job), class: "card-link"%>
                <% if job.get_likes.where(voter_id: current_user).count == 0 %>
                  <%= link_to like_path(job), method: :patch, class: "card-like-link" do%>
                    <i class="far fa-heart"></i>
                  <% end %>
                <% else %>
                  <%= link_to dislike_path(job), method: :patch, class: "card-like-link" do %>
                    <i class="fas fa-heart"></i>
                  <% end %>
                <% end %>
              </div>
              <div class="card__text">
                <p><%= link_to job.short_description.first(95), job_path(job) %>...</p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
<div class="scd-navbar">
  <div class="row">
    <div class="col-xs-10">
      <a type="student-btn" href="chooseajob" class="btn btn-primary scd-navbar-btn-xtrasmall">Revenir à la page métiers</a>
    </div>
  </div>
</div>
<%= render '/shared/navigationbar' %>
