<div id="students-content">
  <div class="back">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
  </div>
  <div class="container-signupstudents">
    <p><%= image_tag("logo.png", class: "logo2")  %></p>
    <h1 class="title-students1">Bienvenue dans la </h1>
    <h1 class="title-students2">T O M I - <em>Family</em></h1>
    <p class="subtitle-students">Allez hop test de personnalité, on va tout de suite connaître ton métier idéal !</p>
    <i class="em em-sunglasses"></i>
  </div>

  <div class="container-signupstudents">
    <div class="cards">
      <div class="row">
        <p class="title-test">T'es plutôt:</p>
        <div class="col-xs-6">
          <%= image_tag "food#{rand(1..5)}gpe1.jpeg", class: "photo-test" %>
          <div class="form-check">
            <input class="form-check-input check-test" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1"></label>
          </div>
        </div>
        <div class="col-xs-6">
          <%= image_tag "food#{rand(1..5)}gpe2.jpeg", class: "photo-test" %>
          <div class="form-check">
            <input class="form-check-input check-test" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1"></label>
          </div>
        </div>
      </div>
      <div class="row">
        <p class="title-test">Et là, t'es plutôt:</p>
        <div class="col-xs-6">
          <%= image_tag "sport#{rand(1..5)}gpe1.jpeg", class: "photo-test" %>
          <div class="form-check">
            <input class="form-check-input check-test" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1"></label>
          </div>
        </div>
        <div class="col-xs-6">
          <%= image_tag "sport#{rand(1..5)}gpe2.jpeg", class: "photo-test" %>
          <div class="form-check">
            <input class="form-check-input check-test" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1"></label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10">
          <a type="student-btn" href="/signupstudents2" class="btn btn-primary students-test">Terminé</a>
        </div>
      </div>
    </div>
  </div>
</div>
