<div class="container">
 <!--  <div class="back image"> -->
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
<!--   </div> -->
  <h1 class="accroche-parents"> Devenez le meilleur conseiller en orientation pour votre enfant.</h1>
  <p class="sous-accroche-parents-small"><em>Vous serez</em></p>
  <p class="sous-accroche-parents-medium">Informés. Avertis.</p>
  <p class="sous-accroche-parents-medium"> & Connectés à lui.</p>

  <div>
    <p style="text-align: center; margin: 0; margin-top: 30px;">👇 L'explication en vidéo 👇</p>
    <iframe class="youtube-parents" src="https://www.youtube.com/embed/nGeKSiCQkPw?list=RDQM-gh_Nk0JfxI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>

    <div class="btn-signup-parents">
      <a type="student-btn" href="/users/sign_up" class="btn btn-primary parents-signup">Sign Up</a>
    </div>

  <div class="parents-desc">
    <h2 class="title-parents">C'est quoi la T O M I - Family ? </h2>
    <p class="subtitle-parents">La première application qui a décidé d'<strong>apporter une vraie solution bienveillante</strong> au problème de l'orientation des lycéens.</p>
  </div>
    <ul class="ul-parents"><span class="surlignement">Pour les lycéens:</span>
      <li class="li-parents"><%= image_tag("infos2.png", class: "img-desc-parents") %>Toutes les <strong>informations importantes pour bien s'orienter</strong> et ne manquer aucun évènement ni inscription.</li>
      <li class="li-parents"><%= image_tag("people3.png", class: "img-desc-parents") %>Ils y <strong>créent leur propre réseau</strong> en s'entourant d'autres étudiants qui ont le même projet professionnel qu'eux.</li>
      <li class="li-parents"><%= image_tag("people2.png", class: "img-desc-parents") %>Ils ne sont plus seuls mais <strong>entourés d'autres lycéens</strong> qui leur ressemblent et avec qui ils peuvent <strong>s'entraider pour atteindre leur objectif</strong>.</li>
      <li class="li-parents"><%= image_tag("heart2.png", class: "img-desc-parents") %>C'est une <strong>application qui leur ressemble</strong>, pensée et construite par des lycéens.</li>
      <li class="li-parents"><%= image_tag("lock.png", class: "img-desc-parents") %>C'est une application bienveillante: toutes les <strong>informations sont neutres et données sont protégées</strong>.</li>
      <li class="li-parents"><%= image_tag("free.png", class: "img-desc-parents") %>C'est une application qui aide <strong>tous les lycéens de tous les milieux</strong> grâce à sa politique "100% gratuit".</li>
    </ul>



  <ul class="ul-parents"><span class="surlignement">Pour vous, parents:</span>
    <p class="subtitle-parents-small"><em>(à développer)</em> Parce que l'orientation de vos enfants <strong>dépend en grande partie de votre influence sur eux</strong>, nous ne pouvions vouloir aider les lycéens sans être en contact avec leurs parents. Vous êtes leur pilier mais nous savons que ce n'est pas un rôle facile tous les jours, surtout lorsqu'il s'agit de l'orientation. Voilà ce que nous vous proposons: </p>
    <li class="li-parents">Tout savoir sur l'orientation, ce qu'il ne faut pas louper, les métiers qui recrutent etc... <em>(à développer)</em></li>
    <li class="li-parents">des séances de sophrologie pour apprendre à ne pas véhiculer du stress à son enfant, et que des bonnes énergies qui aide à l'épanouissement <em>(à développer)</em></li>
    <li class="li-parents">Des séances de yogathérapie pour s'aligner avec soi-même et donner le bon exemple <em>(à développer)</em></li>
    <li class="li-parents">Une psychologue passionnée qui nous apprend la meilleure façon pour bien communiquer avec son enfant et l'aider à trouver sa voie <em>(à développer)</em></li>
    <li class="li-parents">Une meilleure communication avec les enfants <em>(à développer)</em></li>
    <li class="li-parents">Un agenda de tous les évènements sur l'orientation <em>(à développer)</em></li>
    <li class="li-parents">Le lâcher-prise: faire l'opposé des erreurs de nots propres parents n'est pas forcément une bonne chose <em>(à développer)</em></li>
  </ul>


</div>
