<div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
    <a type="student-btn" href="/chooseajob" class="btn btn-primary next-step-btn-small">Etape 2: les métiers <i class="fas fa-arrow-right arrow-next-step"></i></a>
  </div>
</div>
<div class="container-interests">
  <div class="cards-interest">
    <% @interests.each do |interest| %>
      <div class="card-interest" data-interest-id="<%= interest.id %>">
        <div class="card-interest-content">
          <ul class="swipe-ul">
            <li class="swipe-li"><p><%= interest.name %></p>
            <div class="remove-box">
              <i class="fas fa-times"></i>
            </div>
            <div class="like-box">
              <% if interest.get_likes.where(voter_id: current_user).count == 0 %>
                <%= link_to likeinterest_path(interest), method: :patch, remote: true, class: "card-like-link" do%>
                  <i class="far fa-heart"></i>
                <% end %>
              <% else %>
                <%= link_to dislikeinterest_path(interest), method: :patch, remote: true, class: "card-like-link" do %>
                  <i class="fas fa-heart"></i>
                <% end %>
              <% end %>
            </div>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
  <div class="class-btn-likes"><a href="/meslikes" class="btn-likes">Voir mes likes ></a></div>
</div>
<%= render '/shared/navigationbar' %>
